
.rightbarFriendList{
    margin: 0;
    padding: 0;
    list-style: none;
}
.rightbarFriend{
    display: flex;
    align-items: center;
    margin-bottom: 15px;    
}

.rightbarProfileImgContainer{
    margin-right: 10px;
    position: relative;
}

.rightbarOnline{
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: rgb(4, 248, 86);
    position:absolute;
    top: 1px;
    right: 2px; 
    border: 2px solid white;
}

.rightbarFriendName{
    font-weight: 500;
}